.jumbotron {
  padding-top: 6rem;
  /* background-color: #050a19; */
  background-image: url(img/forest.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#project {
  background-color: #050a19;

  background-attachment: fixed;
}

section {
  padding-top: 5rem;
}
